
body {
	background-image: linear-gradient(#7D7ABC,#23F0C7);
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed;
	font-family: "Arial";
	
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: left;
	background-color: #231b24a2;
	padding: 10px;
	overflow: hidden;
	flex: 1;
	row-gap: 20px;
}
.news-container {
	display: flex;
	align-items: center;
	transition: background-color 0.4s;
	flex: 1;
}
.news-container:hover {
	background-color: #231b24c2;
}
.navbar{
	display:flex ;
	align-items: center;
	background-color: #00000067;
	height:80px;
	flex: 1;
}
.navbar li:hover{
	background-image: linear-gradient(#7D7ABC,#23F0C7);
}


.logo{
	float: left;
}
nav
{	
    text-align: center;
}
.navi{
	font-family: 'Arial Rounded MT';
	color: white;
	font-size: 20px;
	padding: 20px;
}

nav ul li{
    display: inline-block;
    padding: 20px 30px;
    border-radius: 18px;
}

.news-image {
	height: 150px;
	width: 150px;
	object-fit: cover;
	margin-right: 20px;
	overflow: hidden;
}
.news-description {
	color: white;
	height: 150px;
	overflow: hidden;
	font-size: 18px;
}
.news-title {
	font-size: 30px;
	color: #FFE347;
}
.news-heading {
	font-size: 100px;
	color: #EF767A;
	text-align: center;
	cursor: default;
}
.news-page{
	color: #FFE347;
	text-align: center;
	font-family: 'Arial Rounded MT';
	font-size: 100px;
	cursor: default;
}
.back-button{
	font-family: 'Arial Rounded MT';
	font-size: 40px;
	color: #FFE347;
	font-weight: 600; 
	border-radius: 20px;
	background-color: #EF767A;
	padding: 10px 25px;
	display: inline-block;
	margin: 10px;
	transition: opacity 0.4s;
}
.back-button:hover{
	opacity: 0.6;
}
.back-button:active {
	transition: background-color 0.2s;
    background: #23F0C7;
}
.link-modifier {
	text-decoration: none;
}

@media (max-width: 500px) {
	.news-description {
		display: none;
	}
}
@media (max-width: 300px) {
	.news-title {
		font-size: 18px;
	}
	.news-image {
		height: 100px;
		width: 100px;
	}
}